package <%= package %>.repository;

import lombok.Data;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
@Data
public class DefaultRepositoryFactory implements RepositoryFactory {

}
